
header {
  text-align: center;
  background-color: teal;
}
#image-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgreen;
}
#image1 {
  height: 300px;
  width: 300px;
  background-color: lightgreen;
  border-style: solid;
}
#image2 {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-style: solid;
}
#image3 {
  border-style: solid;
  height: 300px;
  width: 300px;
  background-color: beige;
}
footer {
  background-color: green;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: auto;
}
